<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NJ Real Estate Trends</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <!-- Use with app.py later -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <!-- <a class="navbar-brand" >New Jersey Real Estate Trends -->
            <a class="navbar-brand" href="{{ url_for('index') }}">New Jersey Real Estate Trends
            <img class="nav-ufo" src="{{ url_for('static', filename='images/re-pic.svg') }}">
            <!-- <img class="nav-ufo" src="../static/images/re-pic.svg"> -->
          </a>
        </div>
      </div>
    </nav>

    <div class="hero text-center" style="color:whitesmoke">
      <h1><b>  </b></h1>
      <h1><b>Where to live in New Jersey ? <br>That is the Question !</b></h1>
    </div>

    <div class="container">
      <div class="row margin-top-50">

          <div class="col-md-12">
                 <h1 class="text-center loader" id="loader"><b>Where to live in New Jersey ? <br>That is the Question !</b></h1>
          </div>      

        <div class="col-md-5">
          <aside class="filters">
            <div class="panel panel-default">
             <div class="panel-heading" style="font-size: 18px;"><center><b>Enter Your Weight Factors</b></center></div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">

                      <form action="/output_page" method="post">

                    <li class="filter list-group-item" style="font-size: 18px;">
                      <label style="font-size: 16px;" for="house_price">Average House Price</label>
                      <input class="form-control" id="house_price" type="text" placeholder="$300,000" name="price">
                    </li>
                    <li class="filter list-group-item">
                      <label style="font-size: 16px;" for="income">Average Family Income</label>
                      <input class="form-control" id="income" type="text" placeholder="$60,000" name="income">
                    </li>
                    <div class="panel-heading" style="font-size: 18px;"><center><b>from 1 (never mind) to 10 (the most important)</b></center></div>
                    <li class="filter list-group-item">
                      <label style="font-size: 16px;" for="prop_taxes">Reasonable Property Taxes</label>
                      <input class="form-control" id="prop_taxes" type="text" placeholder="2" name="tax">
                    </li>
                   
                    <li class="filter list-group-item">
                      <label style="font-size: 16px;" for="schools">School Ratings</label>
                      <input class="form-control" id="schools" type="text" placeholder="7" name="schools">
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </aside>

        <div class="col-md-5">
            <aside class="filters">
                <div class="panel panel-default">
                 <!-- <div class="panel-heading" style="font-size: 18px;"><center><b>Enter Your Weight Factors</b></center></div> -->
                  <div class="panel-body">
                    <div class="form-group">
                      <ul class="list-group" id="filters">
    
                          <!-- <form action="/output_page" method="post"> -->


            <li class="filter list-group-item">
              <label style="font-size: 16px;" for="public_transport">NJ Transit Proximity</label>
              <input class="form-control" id="public_transport" type="text" placeholder="1" name="transportation">
            </li>
            <li class="filter list-group-item">
              <label style="font-size: 16px;" for="crime_rate">Low Crime Rate</label>
              <input class="form-control" id="crime_rate" type="text" placeholder="10" name="crime">
            </li>

            <li class="filter list-group-item">
                <label style="font-size: 16px;" for="restaurants">Restaurants</label>
                <input class="form-control" id="restaurants" type="text" placeholder="5" name="eats">
            </li>

            <li class="filter list-group-item">
                <label style="font-size: 16px;" for="shopping">Shopping</label>
                <input class="form-control" id="shopping" type="text" placeholder="3" name="shop">
            </li>
            
            <li class="filter list-group-item">
                <label style="font-size: 16px;" for="parks">Outdoor Activities</label>
                <input class="form-control" id="parks" type="text" placeholder="3" name="parks">
            </li>
            <!-- <li class="filter list-group-item">
            <input style="font-size: 16px;" type="submit" name= "form" value="Submit" />
            </li> -->
                          <!-- </form> -->
                      </ul>

                    </div>
                  </div>
                </div>
            </aside>    
        </div>


<div class="col-md-2" style="text-align: center">
    <aside class="filters"></aside>
    <li class="filter list-group-item">
        <input style="font-size: 16px;" type="submit" name= "form" value="Submit" />
        </li>
      </form>
      </ul>
    </aside>
    </div>
          
  </div> <!-- margin-->
        </div> <!-- class="container" -->

  
  </div> <!-- class="wrapper" -->

<footer>
<div class="container">

    <div class="row">
        <div class="col-sm-5 copyright">
            <p>Copyright &copy; 2018 RE Data Science Consultants</p>
        </div>
    </div>
</div>
</footer>
<!-- End footer -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/data.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

</body>

</html>
