<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NJ Real Estate Trends</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- Bootstrap core CSS -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <!-- Use with app.py later -->
  <!-- <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet"> -->
  <!-- Comment later -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header" style="text-align:right">
            <a class="navbar-brand">New Jersey Real Estate Trends
          <!-- <a class="navbar-brand" style="text-align:right" href="{{ url_for('templates', filename='index.html') }}">New Jersey Real Estate Trends -->
          <!-- <img class="nav-ufo" src="{{ url_for('static', filename='images/re-pic.svg') }}"> -->
            <img class="nav-ufo" src="../static/images/re-pic.svg">
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1><b>  </b></h1>
      <h1><b>Where to live ? This is a question !</b></h1>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading"><center><b>Weight Your Search Factors<br>from 1 [not important]<br> to 10 [the most important]</b></center></div>
              <div class="panel-body">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                      <!-- House Prices (?), Schools (?) , Crime Rates (?), Public Transport (?),  Restaurants (?) -->
                    <li class="filter list-group-item">
                      <label for="house_price">House Price</label>
                      <input class="form-control" id="house_price" type="text" placeholder="$300,000">
                    </li>
                    <li class="filter list-group-item">
                      <label for="prop_taxes">Property Taxes Limit</label>
                      <input class="form-control" id="prop_taxes" type="text" placeholder="$10,000">
                    </li>
                    <li class="filter list-group-item">
                      <label for="school">Good Schools</label>
                      <input class="form-control" id="school" type="text" placeholder="7">
                    </li>
                    <li class="filter list-group-item">
                      <label for="crime_rate">Crime Rate Low</label>
                      <input class="form-control" id="crime_rate" type="text" placeholder="10">
                    </li>
                    <li class="filter list-group-item">
                      <label for="public_transport">Public Transportation Availability</label>
                      <input class="form-control" id="public_transport" type="text" placeholder="1">
                    </li>
                    <li class="filter list-group-item">
                        <label for="restaurants">Good Restaurants</label>
                        <input class="form-control" id="restaurants" type="text" placeholder="5">
                    </li>
                    <li class="filter list-group-item">
                        <label for="parks">Parks</label>
                        <input class="form-control" id="parks" type="text" placeholder="3">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <!-- <h1 class="text-center loader" id="loader">Loading...</h1> -->
            <table id="ufo-table" class="table table-striped">
              <!-- <thead>
                <tr>
                  <th class="table-head">Date</th>
                  <th class="table-head">City</th>
                  <th class="table-head">State</th>
                  <th class="table-head">Country</th>
                  <th class="table-head">Shape</th>
                  <th class="table-head">Duration</th>
                  <th class="table-head">Comments</th>
                </tr>
              </thead> -->
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- 
<div id="plot1"></div>
<div id="plot2"></div>
<div id="plot3"></div>
<div id="plot4"></div>

<canvas id="bar-chart-grouped" width="600" height="200"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/plot1.js') }}"></script>
<script src="{{ url_for('static', filename='js/plot2.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots3.js') }}"></script>
<script src="{{ url_for('static', filename='js/plot4.js') }}"></script> -->

</div>

<footer>
<div class="container">

    <div class="row">
        <div class="col-sm-5 copyright">
            <p>
                Copyright &copy; 2018 RE Data Science Consultants <!-- <a href="index.html"></a> ..... </a>-->
            </p>
        </div>
        <div class="col-sm-2 top">
            <span id="to-top">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </span>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="https://github.com/ibaloyan/NJ-RE-Trends" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>
<!-- End footer -->



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!-- <script src="{{ url_for('static', filename= 'js/data.js') }}"></script>
  <script src="{{ url_for('static', filename= 'js/app.js') }}"></script> -->

</body>

</html>
